@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f7f7f7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-brand-dim: #FFFFFF;
  --color-brand-white: #FAFAFF;
  --color-brand-dim: #EFEFEF;
  --color-brand-cream: #ECEBE4;
  --color-brand-grey: #CDCFD1;
  --color-brand-black: #1C1C1C;

  --color-grey: #D2D6DE;
  --color-black: #000000;
  --color-black-opacity-10: rgba(0, 0, 0, 0.1);
  --color-black-opacity-5: rgba(0, 0, 0, 0.05);

  --font-size-extratiny: 10px;
  --font-size-tiny: 12px;
  --font-size-extrasmall: 16px;
  --font-size-small: 18px;
  --font-size-regular: 22px;
  --font-size-subtitle: 22px;
  --font-size-title: 30px;
  --font-size-h2: 36px;
  --font-size-h1: 40px;
  --font-size-hero: 48px;
}

.josefin-sans-thin {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.josefin-sans-extralight {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-medium {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.josefin-sans-semibold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-bold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}