.item {
  display: flex;
  align-items: stretch;
  padding: 10px;
  gap: 16px;
  
  height: 50px;
  width: 50px;
  
  border-radius: 8px;
  overflow: hidden;
  
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-brand-grey);
}

.item.active {
  background-color: var(--color-brand-dim);
}

.item.open {
  width: 100%;
}

.icon {
  height: 30px;
  width: 30px;
}

.title {
  display: flex;
  align-items: center;

  font-size: var(--font-size-subtitle);
  min-width: max-content;
  text-transform: capitalize;
}